<div id="<%= dom_id job %>">
  <h1>Job Name: <%= job.name %></h1>
  

  <hr>

  <strong>Template questions and responses</strong>
  <h2>Template Name: <span style="color:blue"><%= job.job_template.title %></span></h2>
  <% job.attributes_and_answers.each do |set| %>
      <strong>question: </strong><%= set[:name] %> 
      <strong>answer: </strong><%= set[:answer] %>
      <br>
  <% end %>

</div>
